[project]
name = "ssti"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.1",
    "jinja2>=3.1.6",
    "paho-mqtt>=2.1.0",
]
