body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 2rem;
    background-color: #0d1218;
    color: #a0a39c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container {
    background-color: #172026;
    padding: 2rem;
    border: 1px solid #3c4a56;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(60, 74, 86, 0.5);
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

h1,
h2 {
    color: #4f5a54;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.info-box {
    background-color: #0b1014;
    border: 1px solid #3c4a56;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-box p {
    margin: 0;
}

#current-coords {
    font-size: 1.5rem;
    color: #257fff;
    text-shadow: 0 0 5px rgba(37, 143, 255);
}

#current-msg {
    font-size: 1.3rem;
    color: #257fff;
    text-shadow: 0 0 5px rgba(37, 143, 255);
}

.visualization-container {
    background-color: #0b1014;
    border: 1px solid #3c4a56;
    border-radius: 4px;
    padding: 1rem;
}

canvas {
    background-color: #0d1218;
    border: 1px solid #3c4a56;
    border-radius: 4px;
    width: 100%;
    height: 400px;
}

iframe {
    background-color: #0d1218;
    border: 1px solid #3c4a56;
    border-radius: 4px;
    width: 100%;
    height: 400px;
}
