<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robodog GPS Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Robodog Live Tracker</h1>
        <div class="info-box">
            <h2>Current GPS Coordinates</h2>
            <p id="current-coords">{{ current_lat | safe }}, {{ current_lon | safe }}</p>
            <h2>Data received from Tracker</h2>
	    <p id="current-msg">{{ current_msg }}</p>
        </div>
        <div class="visualization-container">
            <h2>Robodog Path</h2>
            <canvas id="pathCanvas"></canvas>
        </div>
        <div class="info-box">
            <h2>Live Camera Feed</h2>
            <iframe src="/camera" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>

</html>
